In [73]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [74]:
data = pd.read_csv('P_ds/pokemon.csv', sep = ',', engine = 'python')

In [75]:
data

            Name     Type1     Type2
0      bulbasaur     Grass    Poison
1        ivysaur     Grass    Poison
2       venusaur     Grass    Poison
3     charmander      Fire      None
4     charmeleon      Fire      None
5      charizard      Fire    Flying
6       squirtle     Water      None
7      wartortle     Water      None
8      blastoise     Water      None
9       caterpie       Bug      None
10       metapod       Bug      None
11    butterfree       Bug    Flying
12        weedle       Bug    Poison
13        kakuna       Bug    Poison
14      beedrill       Bug    Poison
15        pidgey    Normal    Flying
16     pidgeotto    Normal    Flying
17       pidgeot    Normal    Flying
18       rattata    Normal      None
19      raticate    Normal      None
20       spearow    Normal    Flying
21        fearow    Normal    Flying
22         ekans    Poison      None
23         arbok    Poison      None
24       pikachu  Electric      None
25        raichu  Electric      None
26     sandshrew    Ground      None
27     sandslash    Ground      None
28     nidoran-f    Poison      None
29      nidorina    Poison      None
..           ...       ...       ...
779       drampa    Normal    Dragon
780     dhelmise     Ghost     Grass
781     jangmo-o    Dragon      None
782     hakamo-o    Dragon  Fighting
783      kommo-o    Dragon  Fighting
784    tapu-koko  Electric     Fairy
785    tapu-lele   Psychic     Fairy
786    tapu-bulu     Grass     Fairy
787    tapu-fini     Water     Fairy
788       cosmog   Psychic      None
789      cosmoem   Psychic      None
790     solgaleo   Psychic     Steel
791       lunala   Psychic     Ghost
792     nihilego      Rock    Poison
793     buzzwole       Bug  Fighting
794    pheromosa       Bug  Fighting
795    xurkitree  Electric      None
796   celesteela     Steel    Flying
797      kartana     Grass     Steel
798     guzzlord      Dark    Dragon
799     necrozma   Psychic      None
800     magearna     Steel     Fairy
801    marshadow  Fighting     Ghost
802      poipole    Poison      None
803    naganadel    Poison    Dragon
804    stakataka      Rock     Steel
805  blacephalon      Fire     Ghost
806      zeraora  Electric      None
807       meltan     Steel      None
808     melmetal     Steel      None

[809 rows x 3 columns]

In [76]:
type(data)

pandas.core.frame.DataFrame

In [77]:
print(data.shape)
print(data.columns)

(809, 3)
Index(['Name', 'Type1', 'Type2'], dtype='object')

In [78]:
data['Type2'] == 'Fairy'

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
779    False
780    False
781    False
782    False
783    False
784     True
785     True
786     True
787     True
788    False
789    False
790    False
791    False
792    False
793    False
794    False
795    False
796    False
797    False
798    False
799    False
800     True
801    False
802    False
803    False
804    False
805    False
806    False
807    False
808    False
Name: Type2, Length: 809, dtype: bool

In [79]:
data.describe(include = ['object'])

            Name  Type1   Type2
count        809    809     405
unique       809     18      18
top     prinplup  Water  Flying
freq           1    114      95

In [80]:
data.describe(include = 'all')

            Name  Type1   Type2
count        809    809     405
unique       809     18      18
top     prinplup  Water  Flying
freq           1    114      95

In [81]:
data['Type1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [82]:
for name in data['Type1'].unique():
    print(name, data['Name'][data['Type1'] == name].iloc[0])

Grass bulbasaur
Fire charmander
Water squirtle
Bug caterpie
Normal pidgey
Poison ekans
Electric pikachu
Ground sandshrew
Fairy clefairy
Fighting mankey
Psychic abra
Rock geodude
Ghost gastly
Ice jynx
Dragon dratini
Dark umbreon
Steel steelix
Flying tornadus-incarnate

In [83]:
data['Name'].dtype.name

'object'

In [84]:
data['Type1'].dtype.name

'object'

In [85]:
data['Type2'].dtype.name

'object'

In [86]:
categorical_columns = [c for c in data.columns if data[c].dtype.name == 'object']
numerical_columns   = [c for c in data.columns if data[c].dtype.name != 'object']
print(categorical_columns)
print(numerical_columns)

['Name', 'Type1', 'Type2']
[]

In [87]:
for c in categorical_columns:
    print(c, data[c].unique())

Name ['bulbasaur' 'ivysaur' 'venusaur' 'charmander' 'charmeleon' 'charizard'
 'squirtle' 'wartortle' 'blastoise' 'caterpie' 'metapod' 'butterfree'
 'weedle' 'kakuna' 'beedrill' 'pidgey' 'pidgeotto' 'pidgeot' 'rattata'
 'raticate' 'spearow' 'fearow' 'ekans' 'arbok' 'pikachu' 'raichu'
 'sandshrew' 'sandslash' 'nidoran-f' 'nidorina' 'nidoqueen' 'nidoran-m'
 'nidorino' 'nidoking' 'clefairy' 'clefable' 'vulpix' 'ninetales'
 'jigglypuff' 'wigglytuff' 'zubat' 'golbat' 'oddish' 'gloom' 'vileplume'
 'paras' 'parasect' 'venonat' 'venomoth' 'diglett' 'dugtrio' 'meowth'
 'persian' 'psyduck' 'golduck' 'mankey' 'primeape' 'growlithe' 'arcanine'
 'poliwag' 'poliwhirl' 'poliwrath' 'abra' 'kadabra' 'alakazam' 'machop'
 'machoke' 'machamp' 'bellsprout' 'weepinbell' 'victreebel' 'tentacool'
 'tentacruel' 'geodude' 'graveler' 'golem' 'ponyta' 'rapidash' 'slowpoke'
 'slowbro' 'magnemite' 'magneton' 'farfetchd' 'doduo' 'dodrio' 'seel'
 'dewgong' 'grimer' 'muk' 'shellder' 'cloyster' 'gastly' 'haunter'
 'gengar' 'onix' 'drowzee' 'hypno' 'krabby' 'kingler' 'voltorb'
 'electrode' 'exeggcute' 'exeggutor' 'cubone' 'marowak' 'hitmonlee'
 'hitmonchan' 'lickitung' 'koffing' 'weezing' 'rhyhorn' 'rhydon' 'chansey'
 'tangela' 'kangaskhan' 'horsea' 'seadra' 'goldeen' 'seaking' 'staryu'
 'starmie' 'mr-mime' 'scyther' 'jynx' 'electabuzz' 'magmar' 'pinsir'
 'tauros' 'magikarp' 'gyarados' 'lapras' 'ditto' 'eevee' 'vaporeon'
 'jolteon' 'flareon' 'porygon' 'omanyte' 'omastar' 'kabuto' 'kabutops'
 'aerodactyl' 'snorlax' 'articuno' 'zapdos' 'moltres' 'dratini'
 'dragonair' 'dragonite' 'mewtwo' 'mew' 'chikorita' 'bayleef' 'meganium'
 'cyndaquil' 'quilava' 'typhlosion' 'totodile' 'croconaw' 'feraligatr'
 'sentret' 'furret' 'hoothoot' 'noctowl' 'ledyba' 'ledian' 'spinarak'
 'ariados' 'crobat' 'chinchou' 'lanturn' 'pichu' 'cleffa' 'igglybuff'
 'togepi' 'togetic' 'natu' 'xatu' 'mareep' 'flaaffy' 'ampharos'
 'bellossom' 'marill' 'azumarill' 'sudowoodo' 'politoed' 'hoppip'
 'skiploom' 'jumpluff' 'aipom' 'sunkern' 'sunflora' 'yanma' 'wooper'
 'quagsire' 'espeon' 'umbreon' 'murkrow' 'slowking' 'misdreavus' 'unown'
 'wobbuffet' 'girafarig' 'pineco' 'forretress' 'dunsparce' 'gligar'
 'steelix' 'snubbull' 'granbull' 'qwilfish' 'scizor' 'shuckle' 'heracross'
 'sneasel' 'teddiursa' 'ursaring' 'slugma' 'magcargo' 'swinub' 'piloswine'
 'corsola' 'remoraid' 'octillery' 'delibird' 'mantine' 'skarmory'
 'houndour' 'houndoom' 'kingdra' 'phanpy' 'donphan' 'porygon2' 'stantler'
 'smeargle' 'tyrogue' 'hitmontop' 'smoochum' 'elekid' 'magby' 'miltank'
 'blissey' 'raikou' 'entei' 'suicune' 'larvitar' 'pupitar' 'tyranitar'
 'lugia' 'ho-oh' 'celebi' 'treecko' 'grovyle' 'sceptile' 'torchic'
 'combusken' 'blaziken' 'mudkip' 'marshtomp' 'swampert' 'poochyena'
 'mightyena' 'zigzagoon' 'linoone' 'wurmple' 'silcoon' 'beautifly'
 'cascoon' 'dustox' 'lotad' 'lombre' 'ludicolo' 'seedot' 'nuzleaf'
 'shiftry' 'taillow' 'swellow' 'wingull' 'pelipper' 'ralts' 'kirlia'
 'gardevoir' 'surskit' 'masquerain' 'shroomish' 'breloom' 'slakoth'
 'vigoroth' 'slaking' 'nincada' 'ninjask' 'shedinja' 'whismur' 'loudred'
 'exploud' 'makuhita' 'hariyama' 'azurill' 'nosepass' 'skitty' 'delcatty'
 'sableye' 'mawile' 'aron' 'lairon' 'aggron' 'meditite' 'medicham'
 'electrike' 'manectric' 'plusle' 'minun' 'volbeat' 'illumise' 'roselia'
 'gulpin' 'swalot' 'carvanha' 'sharpedo' 'wailmer' 'wailord' 'numel'
 'camerupt' 'torkoal' 'spoink' 'grumpig' 'spinda' 'trapinch' 'vibrava'
 'flygon' 'cacnea' 'cacturne' 'swablu' 'altaria' 'zangoose' 'seviper'
 'lunatone' 'solrock' 'barboach' 'whiscash' 'corphish' 'crawdaunt'
 'baltoy' 'claydol' 'lileep' 'cradily' 'anorith' 'armaldo' 'feebas'
 'milotic' 'castform' 'kecleon' 'shuppet' 'banette' 'duskull' 'dusclops'
 'tropius' 'chimecho' 'absol' 'wynaut' 'snorunt' 'glalie' 'spheal'
 'sealeo' 'walrein' 'clamperl' 'huntail' 'gorebyss' 'relicanth' 'luvdisc'
 'bagon' 'shelgon' 'salamence' 'beldum' 'metang' 'metagross' 'regirock'
 'regice' 'registeel' 'latias' 'latios' 'kyogre' 'groudon' 'rayquaza'
 'jirachi' 'deoxys-normal' 'turtwig' 'grotle' 'torterra' 'chimchar'
 'monferno' 'infernape' 'piplup' 'prinplup' 'empoleon' 'starly' 'staravia'
 'staraptor' 'bidoof' 'bibarel' 'kricketot' 'kricketune' 'shinx' 'luxio'
 'luxray' 'budew' 'roserade' 'cranidos' 'rampardos' 'shieldon' 'bastiodon'
 'burmy' 'wormadam-plant' 'mothim' 'combee' 'vespiquen' 'pachirisu'
 'buizel' 'floatzel' 'cherubi' 'cherrim' 'shellos' 'gastrodon' 'ambipom'
 'drifloon' 'drifblim' 'buneary' 'lopunny' 'mismagius' 'honchkrow'
 'glameow' 'purugly' 'chingling' 'stunky' 'skuntank' 'bronzor' 'bronzong'
 'bonsly' 'mime-jr' 'happiny' 'chatot' 'spiritomb' 'gible' 'gabite'
 'garchomp' 'munchlax' 'riolu' 'lucario' 'hippopotas' 'hippowdon'
 'skorupi' 'drapion' 'croagunk' 'toxicroak' 'carnivine' 'finneon'
 'lumineon' 'mantyke' 'snover' 'abomasnow' 'weavile' 'magnezone'
 'lickilicky' 'rhyperior' 'tangrowth' 'electivire' 'magmortar' 'togekiss'
 'yanmega' 'leafeon' 'glaceon' 'gliscor' 'mamoswine' 'porygon-z' 'gallade'
 'probopass' 'dusknoir' 'froslass' 'rotom' 'uxie' 'mesprit' 'azelf'
 'dialga' 'palkia' 'heatran' 'regigigas' 'giratina-altered' 'cresselia'
 'phione' 'manaphy' 'darkrai' 'shaymin-land' 'arceus' 'victini' 'snivy'
 'servine' 'serperior' 'tepig' 'pignite' 'emboar' 'oshawott' 'dewott'
 'samurott' 'patrat' 'watchog' 'lillipup' 'herdier' 'stoutland' 'purrloin'
 'liepard' 'pansage' 'simisage' 'pansear' 'simisear' 'panpour' 'simipour'
 'munna' 'musharna' 'pidove' 'tranquill' 'unfezant' 'blitzle' 'zebstrika'
 'roggenrola' 'boldore' 'gigalith' 'woobat' 'swoobat' 'drilbur'
 'excadrill' 'audino' 'timburr' 'gurdurr' 'conkeldurr' 'tympole'
 'palpitoad' 'seismitoad' 'throh' 'sawk' 'sewaddle' 'swadloon' 'leavanny'
 'venipede' 'whirlipede' 'scolipede' 'cottonee' 'whimsicott' 'petilil'
 'lilligant' 'basculin-red-striped' 'sandile' 'krokorok' 'krookodile'
 'darumaka' 'darmanitan-standard' 'maractus' 'dwebble' 'crustle' 'scraggy'
 'scrafty' 'sigilyph' 'yamask' 'cofagrigus' 'tirtouga' 'carracosta'
 'archen' 'archeops' 'trubbish' 'garbodor' 'zorua' 'zoroark' 'minccino'
 'cinccino' 'gothita' 'gothorita' 'gothitelle' 'solosis' 'duosion'
 'reuniclus' 'ducklett' 'swanna' 'vanillite' 'vanillish' 'vanilluxe'
 'deerling' 'sawsbuck' 'emolga' 'karrablast' 'escavalier' 'foongus'
 'amoonguss' 'frillish' 'jellicent' 'alomomola' 'joltik' 'galvantula'
 'ferroseed' 'ferrothorn' 'klink' 'klang' 'klinklang' 'tynamo' 'eelektrik'
 'eelektross' 'elgyem' 'beheeyem' 'litwick' 'lampent' 'chandelure' 'axew'
 'fraxure' 'haxorus' 'cubchoo' 'beartic' 'cryogonal' 'shelmet' 'accelgor'
 'stunfisk' 'mienfoo' 'mienshao' 'druddigon' 'golett' 'golurk' 'pawniard'
 'bisharp' 'bouffalant' 'rufflet' 'braviary' 'vullaby' 'mandibuzz'
 'heatmor' 'durant' 'deino' 'zweilous' 'hydreigon' 'larvesta' 'volcarona'
 'cobalion' 'terrakion' 'virizion' 'tornadus-incarnate'
 'thundurus-incarnate' 'reshiram' 'zekrom' 'landorus-incarnate' 'kyurem'
 'keldeo-ordinary' 'meloetta-aria' 'genesect' 'chespin' 'quilladin'
 'chesnaught' 'fennekin' 'braixen' 'delphox' 'froakie' 'frogadier'
 'greninja' 'bunnelby' 'diggersby' 'fletchling' 'fletchinder' 'talonflame'
 'scatterbug' 'spewpa' 'vivillon' 'litleo' 'pyroar' 'flabebe' 'floette'
 'florges' 'skiddo' 'gogoat' 'pancham' 'pangoro' 'furfrou' 'espurr'
 'meowstic-male' 'honedge' 'doublade' 'aegislash-blade' 'spritzee'
 'aromatisse' 'swirlix' 'slurpuff' 'inkay' 'malamar' 'binacle'
 'barbaracle' 'skrelp' 'dragalge' 'clauncher' 'clawitzer' 'helioptile'
 'heliolisk' 'tyrunt' 'tyrantrum' 'amaura' 'aurorus' 'sylveon' 'hawlucha'
 'dedenne' 'carbink' 'goomy' 'sliggoo' 'goodra' 'klefki' 'phantump'
 'trevenant' 'pumpkaboo-average' 'gourgeist-average' 'bergmite' 'avalugg'
 'noibat' 'noivern' 'xerneas' 'yveltal' 'zygarde-50' 'diancie'
 'hoopa-confined' 'volcanion' 'rowlet' 'dartrix' 'decidueye' 'litten'
 'torracat' 'incineroar' 'popplio' 'brionne' 'primarina' 'pikipek'
 'trumbeak' 'toucannon' 'yungoos' 'gumshoos' 'grubbin' 'charjabug'
 'vikavolt' 'crabrawler' 'crabominable' 'oricorio-baile' 'cutiefly'
 'ribombee' 'rockruff' 'lycanroc-midday' 'wishiwashi-solo' 'mareanie'
 'toxapex' 'mudbray' 'mudsdale' 'dewpider' 'araquanid' 'fomantis'
 'lurantis' 'morelull' 'shiinotic' 'salandit' 'salazzle' 'stufful'
 'bewear' 'bounsweet' 'steenee' 'tsareena' 'comfey' 'oranguru' 'passimian'
 'wimpod' 'golisopod' 'sandygast' 'palossand' 'pyukumuku' 'type-null'
 'silvally' 'minior-meteor' 'komala' 'turtonator' 'togedemaru' 'mimikyu'
 'bruxish' 'drampa' 'dhelmise' 'jangmo-o' 'hakamo-o' 'kommo-o' 'tapu-koko'
 'tapu-lele' 'tapu-bulu' 'tapu-fini' 'cosmog' 'cosmoem' 'solgaleo'
 'lunala' 'nihilego' 'buzzwole' 'pheromosa' 'xurkitree' 'celesteela'
 'kartana' 'guzzlord' 'necrozma' 'magearna' 'marshadow' 'poipole'
 'naganadel' 'stakataka' 'blacephalon' 'zeraora' 'meltan' 'melmetal']
Type1 ['Grass' 'Fire' 'Water' 'Bug' 'Normal' 'Poison' 'Electric' 'Ground'
 'Fairy' 'Fighting' 'Psychic' 'Rock' 'Ghost' 'Ice' 'Dragon' 'Dark' 'Steel'
 'Flying']
Type2 ['Poison' None 'Flying' 'Ground' 'Fairy' 'Grass' 'Fighting' 'Psychic'
 'Steel' 'Ice' 'Rock' 'Water' 'Electric' 'Fire' 'Dragon' 'Dark' 'Ghost'
 'Bug' 'Normal']

In [88]:
data[categorical_columns].count(axis = 0)

Name     809
Type1    809
Type2    405
dtype: int64

In [89]:
data['Name'].describe()

count          809
unique         809
top       prinplup
freq             1
Name: Name, dtype: object

In [91]:
data['Type2'].describe().top

'Flying'

In [92]:
data['Type2'] = data['Type2'].fillna('Flying')

In [93]:
data.describe(include = [object])

            Name  Type1   Type2
count        809    809     809
unique       809     18      18
top     prinplup  Water  Flying
freq           1    114     499

In [95]:
data_describe = data.describe(include = [object])
for c in categorical_columns:
    data[c] = data[c].fillna(data_describe[c]['top'])

In [96]:
data.describe(include = [object])

            Name  Type1   Type2
count        809    809     809
unique       809     18      18
top     prinplup  Water  Flying
freq           1    114     499

In [97]:
binary_columns    = [c for c in categorical_columns if data_describe[c]['unique'] == 2]
nonbinary_columns = [c for c in categorical_columns if data_describe[c]['unique'] > 2]
print(binary_columns, nonbinary_columns)

[] ['Name', 'Type1', 'Type2']

In [112]:
data_nonbinary = pd.get_dummies(data[nonbinary_columns])
print(data_nonbinary.columns)

Index(['Name_abomasnow', 'Name_abra', 'Name_absol', 'Name_accelgor',
       'Name_aegislash-blade', 'Name_aerodactyl', 'Name_aggron', 'Name_aipom',
       'Name_alakazam', 'Name_alomomola',
       ...
       'Type2_Ghost', 'Type2_Grass', 'Type2_Ground', 'Type2_Ice',
       'Type2_Normal', 'Type2_Poison', 'Type2_Psychic', 'Type2_Rock',
       'Type2_Steel', 'Type2_Water'],
      dtype='object', length=845)

In [113]:
X = data.drop(('Name'), axis = 1) 
y = data['Name']
feature_names = X.columns

In [114]:
type(feature_names)

pandas.core.indexes.base.Index

In [115]:
feature_names

Index(['Type1', 'Type2'], dtype='object')

In [116]:
print(X.shape)
print(y.shape)
N, d = X.shape

(809, 2)
(809,)

In [117]:
type(X)

pandas.core.frame.DataFrame

In [119]:
type(y)

pandas.core.series.Series

In [120]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

N_train, _ = X_train.shape 
N_test,  _ = X_test.shape 

print(N_train, N_test)

566 243

In [121]:
566+243

809