In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [64]:
data = pd.read_csv('pokemon.csv', engine = 'python')

In [3]:
type(data)

pandas.core.frame.DataFrame

##### Смотрим на таблицы из файла:

In [65]:
data

            Name     Type1     Type2
0      bulbasaur     Grass    Poison
1        ivysaur     Grass    Poison
2       venusaur     Grass    Poison
3     charmander      Fire      None
4     charmeleon      Fire      None
5      charizard      Fire    Flying
6       squirtle     Water      None
7      wartortle     Water      None
8      blastoise     Water      None
9       caterpie       Bug      None
10       metapod       Bug      None
11    butterfree       Bug    Flying
12        weedle       Bug    Poison
13        kakuna       Bug    Poison
14      beedrill       Bug    Poison
15        pidgey    Normal    Flying
16     pidgeotto    Normal    Flying
17       pidgeot    Normal    Flying
18       rattata    Normal      None
19      raticate    Normal      None
20       spearow    Normal    Flying
21        fearow    Normal    Flying
22         ekans    Poison      None
23         arbok    Poison      None
24       pikachu  Electric      None
25        raichu  Electric      None
26     sandshrew    Ground      None
27     sandslash    Ground      None
28     nidoran-f    Poison      None
29      nidorina    Poison      None
..           ...       ...       ...
779       drampa    Normal    Dragon
780     dhelmise     Ghost     Grass
781     jangmo-o    Dragon      None
782     hakamo-o    Dragon  Fighting
783      kommo-o    Dragon  Fighting
784    tapu-koko  Electric     Fairy
785    tapu-lele   Psychic     Fairy
786    tapu-bulu     Grass     Fairy
787    tapu-fini     Water     Fairy
788       cosmog   Psychic      None
789      cosmoem   Psychic      None
790     solgaleo   Psychic     Steel
791       lunala   Psychic     Ghost
792     nihilego      Rock    Poison
793     buzzwole       Bug  Fighting
794    pheromosa       Bug  Fighting
795    xurkitree  Electric      None
796   celesteela     Steel    Flying
797      kartana     Grass     Steel
798     guzzlord      Dark    Dragon
799     necrozma   Psychic      None
800     magearna     Steel     Fairy
801    marshadow  Fighting     Ghost
802      poipole    Poison      None
803    naganadel    Poison    Dragon
804    stakataka      Rock     Steel
805  blacephalon      Fire     Ghost
806      zeraora  Electric      None
807       meltan     Steel      None
808     melmetal     Steel      None

[809 rows x 3 columns]

In [6]:
print(data)

            Name     Type1     Type2
0      bulbasaur     Grass    Poison
1        ivysaur     Grass    Poison
2       venusaur     Grass    Poison
3     charmander      Fire      None
4     charmeleon      Fire      None
5      charizard      Fire    Flying
6       squirtle     Water      None
7      wartortle     Water      None
8      blastoise     Water      None
9       caterpie       Bug      None
10       metapod       Bug      None
11    butterfree       Bug    Flying
12        weedle       Bug    Poison
13        kakuna       Bug    Poison
14      beedrill       Bug    Poison
15        pidgey    Normal    Flying
16     pidgeotto    Normal    Flying
17       pidgeot    Normal    Flying
18       rattata    Normal      None
19      raticate    Normal      None
20       spearow    Normal    Flying
21        fearow    Normal    Flying
22         ekans    Poison      None
23         arbok    Poison      None
24       pikachu  Electric      None
25        raichu  Electric      None
26     sandshrew    Ground      None
27     sandslash    Ground      None
28     nidoran-f    Poison      None
29      nidorina    Poison      None
..           ...       ...       ...
779       drampa    Normal    Dragon
780     dhelmise     Ghost     Grass
781     jangmo-o    Dragon      None
782     hakamo-o    Dragon  Fighting
783      kommo-o    Dragon  Fighting
784    tapu-koko  Electric     Fairy
785    tapu-lele   Psychic     Fairy
786    tapu-bulu     Grass     Fairy
787    tapu-fini     Water     Fairy
788       cosmog   Psychic      None
789      cosmoem   Psychic      None
790     solgaleo   Psychic     Steel
791       lunala   Psychic     Ghost
792     nihilego      Rock    Poison
793     buzzwole       Bug  Fighting
794    pheromosa       Bug  Fighting
795    xurkitree  Electric      None
796   celesteela     Steel    Flying
797      kartana     Grass     Steel
798     guzzlord      Dark    Dragon
799     necrozma   Psychic      None
800     magearna     Steel     Fairy
801    marshadow  Fighting     Ghost
802      poipole    Poison      None
803    naganadel    Poison    Dragon
804    stakataka      Rock     Steel
805  blacephalon      Fire     Ghost
806      zeraora  Electric      None
807       meltan     Steel      None
808     melmetal     Steel      None

[809 rows x 3 columns]

##### Посмотрим лишь на начало таблицы:

In [9]:
data.head()

         Name  Type1   Type2
0   bulbasaur  Grass  Poison
1     ivysaur  Grass  Poison
2    venusaur  Grass  Poison
3  charmander   Fire    None
4  charmeleon   Fire    None

##### Смотрим на конец таблицы:

In [10]:
data.tail()

            Name     Type1  Type2
804    stakataka      Rock  Steel
805  blacephalon      Fire  Ghost
806      zeraora  Electric   None
807       meltan     Steel   None
808     melmetal     Steel   None

## Описание классов и признаков

##### Смотрим на размерность датасета и изучаем названия столбцов

In [11]:
print(data.shape)
print(data.columns)

(809, 3)
Index(['Name', 'Type1', 'Type2'], dtype='object')

##### Смотрим на диапазоны индексов

In [12]:
data.index

RangeIndex(start=0, stop=809, step=1)

##### "Вытаскиваем" из таблицы конкретные элементы:

In [15]:
data.at[5, 'Type2']

'Flying'

##### Смотрим на конкретный столбец:

In [17]:
data['Type2']

0        Poison
1        Poison
2        Poison
3          None
4          None
5        Flying
6          None
7          None
8          None
9          None
10         None
11       Flying
12       Poison
13       Poison
14       Poison
15       Flying
16       Flying
17       Flying
18         None
19         None
20       Flying
21       Flying
22         None
23         None
24         None
25         None
26         None
27         None
28         None
29         None
         ...
779      Dragon
780       Grass
781        None
782    Fighting
783    Fighting
784       Fairy
785       Fairy
786       Fairy
787       Fairy
788        None
789        None
790       Steel
791       Ghost
792      Poison
793    Fighting
794    Fighting
795        None
796      Flying
797       Steel
798      Dragon
799        None
800       Fairy
801       Ghost
802        None
803      Dragon
804       Steel
805       Ghost
806        None
807        None
808        None
Name: Type2, Length: 809, dtype: object

##### Обращение к элементам таблицы:

In [20]:
data['Type1'][5]

'Fire'

##### Смотрим на различные типы элементов:

In [21]:
data['Name'].dtype.name

'object'

In [24]:
type(data['Name'][3])

str

In [26]:
type(data['Name'])

pandas.core.series.Series

##### Берем кусок таблицы и печатаем ее начало:

In [27]:
data[['Type1', 'Type2']].head()

   Type1   Type2
0  Grass  Poison
1  Grass  Poison
2  Grass  Poison
3   Fire    None
4   Fire    None

##### Смотрим основные статистические характеристики по каждому числовому признаку:

In [28]:
data.describe()

             Name  Type1   Type2
count         809    809     405
unique        809     18      18
top     pidgeotto  Water  Flying
freq            1    114      95

##### Посмотреть на зависимость признаков друг от дурга  и на на попарную корреляцию признаков не выйдет так как все значения являются строками.

In [29]:
data.corr()

Empty DataFrame
Columns: []
Index: []

##### проверка на принадлежность элементов столбца к заданному классу:

In [31]:
data['Type2'] == 'Flying'

0      False
1      False
2      False
3      False
4      False
5       True
6      False
7      False
8      False
9      False
10     False
11      True
12     False
13     False
14     False
15      True
16      True
17      True
18     False
19     False
20      True
21      True
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
779    False
780    False
781    False
782    False
783    False
784    False
785    False
786    False
787    False
788    False
789    False
790    False
791    False
792    False
793    False
794    False
795    False
796     True
797    False
798    False
799    False
800    False
801    False
802    False
803    False
804    False
805    False
806    False
807    False
808    False
Name: Type2, Length: 809, dtype: bool

##### Краткая характеристика номинальных признаков:

In [32]:
data.describe(include = ['object'])

             Name  Type1   Type2
count         809    809     405
unique        809     18      18
top     pidgeotto  Water  Flying
freq            1    114      95

##### Описание всех признаков вместе:

In [33]:
data.describe(include = 'all')

             Name  Type1   Type2
count         809    809     405
unique        809     18      18
top     pidgeotto  Water  Flying
freq            1    114      95

##### Список всех возможных вариантов класса:

In [34]:
data['Type1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [36]:
data['Type2'].unique()

array(['Poison', None, 'Flying', 'Ground', 'Fairy', 'Grass', 'Fighting',
       'Psychic', 'Steel', 'Ice', 'Rock', 'Water', 'Electric', 'Fire',
       'Dragon', 'Dark', 'Ghost', 'Bug', 'Normal'], dtype=object)

##### `Name` у первых представителей класса `Type1` :

In [37]:
for name in data['Type1'].unique():
    print(name, data['Name'][data['Type1'] == name].iloc[0])

Grass bulbasaur
Fire charmander
Water squirtle
Bug caterpie
Normal pidgey
Poison ekans
Electric pikachu
Ground sandshrew
Fairy clefairy
Fighting mankey
Psychic abra
Rock geodude
Ghost gastly
Ice jynx
Dragon dratini
Dark umbreon
Steel steelix
Flying tornadus-incarnate

# Готовим данные

##### Смотрим типы признаков и разбиваем их на количественные и номинальные

In [38]:
data['Name'].dtype.name

'object'

In [40]:
data['Type1'].dtype.name

'object'

In [42]:
data['Type2'].dtype.name

'object'

##### Получаем, что все классы являются номинальными признаками. Числовые признаки отсутсвуют.

In [43]:
categorical_columns = [c for c in data.columns if data[c].dtype.name == 'object']
numerical_columns   = [c for c in data.columns if data[c].dtype.name != 'object']
print(categorical_columns)
print(numerical_columns)

['Name', 'Type1', 'Type2']
[]

##### Возможные значения класса:

In [44]:
for c in categorical_columns:
    print(c, data[c].unique())

Name ['bulbasaur' 'ivysaur' 'venusaur' 'charmander' 'charmeleon' 'charizard'
 'squirtle' 'wartortle' 'blastoise' 'caterpie' 'metapod' 'butterfree'
 'weedle' 'kakuna' 'beedrill' 'pidgey' 'pidgeotto' 'pidgeot' 'rattata'
 'raticate' 'spearow' 'fearow' 'ekans' 'arbok' 'pikachu' 'raichu'
 'sandshrew' 'sandslash' 'nidoran-f' 'nidorina' 'nidoqueen' 'nidoran-m'
 'nidorino' 'nidoking' 'clefairy' 'clefable' 'vulpix' 'ninetales'
 'jigglypuff' 'wigglytuff' 'zubat' 'golbat' 'oddish' 'gloom' 'vileplume'
 'paras' 'parasect' 'venonat' 'venomoth' 'diglett' 'dugtrio' 'meowth'
 'persian' 'psyduck' 'golduck' 'mankey' 'primeape' 'growlithe' 'arcanine'
 'poliwag' 'poliwhirl' 'poliwrath' 'abra' 'kadabra' 'alakazam' 'machop'
 'machoke' 'machamp' 'bellsprout' 'weepinbell' 'victreebel' 'tentacool'
 'tentacruel' 'geodude' 'graveler' 'golem' 'ponyta' 'rapidash' 'slowpoke'
 'slowbro' 'magnemite' 'magneton' 'farfetchd' 'doduo' 'dodrio' 'seel'
 'dewgong' 'grimer' 'muk' 'shellder' 'cloyster' 'gastly' 'haunter'
 'gengar' 'onix' 'drowzee' 'hypno' 'krabby' 'kingler' 'voltorb'
 'electrode' 'exeggcute' 'exeggutor' 'cubone' 'marowak' 'hitmonlee'
 'hitmonchan' 'lickitung' 'koffing' 'weezing' 'rhyhorn' 'rhydon' 'chansey'
 'tangela' 'kangaskhan' 'horsea' 'seadra' 'goldeen' 'seaking' 'staryu'
 'starmie' 'mr-mime' 'scyther' 'jynx' 'electabuzz' 'magmar' 'pinsir'
 'tauros' 'magikarp' 'gyarados' 'lapras' 'ditto' 'eevee' 'vaporeon'
 'jolteon' 'flareon' 'porygon' 'omanyte' 'omastar' 'kabuto' 'kabutops'
 'aerodactyl' 'snorlax' 'articuno' 'zapdos' 'moltres' 'dratini'
 'dragonair' 'dragonite' 'mewtwo' 'mew' 'chikorita' 'bayleef' 'meganium'
 'cyndaquil' 'quilava' 'typhlosion' 'totodile' 'croconaw' 'feraligatr'
 'sentret' 'furret' 'hoothoot' 'noctowl' 'ledyba' 'ledian' 'spinarak'
 'ariados' 'crobat' 'chinchou' 'lanturn' 'pichu' 'cleffa' 'igglybuff'
 'togepi' 'togetic' 'natu' 'xatu' 'mareep' 'flaaffy' 'ampharos'
 'bellossom' 'marill' 'azumarill' 'sudowoodo' 'politoed' 'hoppip'
 'skiploom' 'jumpluff' 'aipom' 'sunkern' 'sunflora' 'yanma' 'wooper'
 'quagsire' 'espeon' 'umbreon' 'murkrow' 'slowking' 'misdreavus' 'unown'
 'wobbuffet' 'girafarig' 'pineco' 'forretress' 'dunsparce' 'gligar'
 'steelix' 'snubbull' 'granbull' 'qwilfish' 'scizor' 'shuckle' 'heracross'
 'sneasel' 'teddiursa' 'ursaring' 'slugma' 'magcargo' 'swinub' 'piloswine'
 'corsola' 'remoraid' 'octillery' 'delibird' 'mantine' 'skarmory'
 'houndour' 'houndoom' 'kingdra' 'phanpy' 'donphan' 'porygon2' 'stantler'
 'smeargle' 'tyrogue' 'hitmontop' 'smoochum' 'elekid' 'magby' 'miltank'
 'blissey' 'raikou' 'entei' 'suicune' 'larvitar' 'pupitar' 'tyranitar'
 'lugia' 'ho-oh' 'celebi' 'treecko' 'grovyle' 'sceptile' 'torchic'
 'combusken' 'blaziken' 'mudkip' 'marshtomp' 'swampert' 'poochyena'
 'mightyena' 'zigzagoon' 'linoone' 'wurmple' 'silcoon' 'beautifly'
 'cascoon' 'dustox' 'lotad' 'lombre' 'ludicolo' 'seedot' 'nuzleaf'
 'shiftry' 'taillow' 'swellow' 'wingull' 'pelipper' 'ralts' 'kirlia'
 'gardevoir' 'surskit' 'masquerain' 'shroomish' 'breloom' 'slakoth'
 'vigoroth' 'slaking' 'nincada' 'ninjask' 'shedinja' 'whismur' 'loudred'
 'exploud' 'makuhita' 'hariyama' 'azurill' 'nosepass' 'skitty' 'delcatty'
 'sableye' 'mawile' 'aron' 'lairon' 'aggron' 'meditite' 'medicham'
 'electrike' 'manectric' 'plusle' 'minun' 'volbeat' 'illumise' 'roselia'
 'gulpin' 'swalot' 'carvanha' 'sharpedo' 'wailmer' 'wailord' 'numel'
 'camerupt' 'torkoal' 'spoink' 'grumpig' 'spinda' 'trapinch' 'vibrava'
 'flygon' 'cacnea' 'cacturne' 'swablu' 'altaria' 'zangoose' 'seviper'
 'lunatone' 'solrock' 'barboach' 'whiscash' 'corphish' 'crawdaunt'
 'baltoy' 'claydol' 'lileep' 'cradily' 'anorith' 'armaldo' 'feebas'
 'milotic' 'castform' 'kecleon' 'shuppet' 'banette' 'duskull' 'dusclops'
 'tropius' 'chimecho' 'absol' 'wynaut' 'snorunt' 'glalie' 'spheal'
 'sealeo' 'walrein' 'clamperl' 'huntail' 'gorebyss' 'relicanth' 'luvdisc'
 'bagon' 'shelgon' 'salamence' 'beldum' 'metang' 'metagross' 'regirock'
 'regice' 'registeel' 'latias' 'latios' 'kyogre' 'groudon' 'rayquaza'
 'jirachi' 'deoxys-normal' 'turtwig' 'grotle' 'torterra' 'chimchar'
 'monferno' 'infernape' 'piplup' 'prinplup' 'empoleon' 'starly' 'staravia'
 'staraptor' 'bidoof' 'bibarel' 'kricketot' 'kricketune' 'shinx' 'luxio'
 'luxray' 'budew' 'roserade' 'cranidos' 'rampardos' 'shieldon' 'bastiodon'
 'burmy' 'wormadam-plant' 'mothim' 'combee' 'vespiquen' 'pachirisu'
 'buizel' 'floatzel' 'cherubi' 'cherrim' 'shellos' 'gastrodon' 'ambipom'
 'drifloon' 'drifblim' 'buneary' 'lopunny' 'mismagius' 'honchkrow'
 'glameow' 'purugly' 'chingling' 'stunky' 'skuntank' 'bronzor' 'bronzong'
 'bonsly' 'mime-jr' 'happiny' 'chatot' 'spiritomb' 'gible' 'gabite'
 'garchomp' 'munchlax' 'riolu' 'lucario' 'hippopotas' 'hippowdon'
 'skorupi' 'drapion' 'croagunk' 'toxicroak' 'carnivine' 'finneon'
 'lumineon' 'mantyke' 'snover' 'abomasnow' 'weavile' 'magnezone'
 'lickilicky' 'rhyperior' 'tangrowth' 'electivire' 'magmortar' 'togekiss'
 'yanmega' 'leafeon' 'glaceon' 'gliscor' 'mamoswine' 'porygon-z' 'gallade'
 'probopass' 'dusknoir' 'froslass' 'rotom' 'uxie' 'mesprit' 'azelf'
 'dialga' 'palkia' 'heatran' 'regigigas' 'giratina-altered' 'cresselia'
 'phione' 'manaphy' 'darkrai' 'shaymin-land' 'arceus' 'victini' 'snivy'
 'servine' 'serperior' 'tepig' 'pignite' 'emboar' 'oshawott' 'dewott'
 'samurott' 'patrat' 'watchog' 'lillipup' 'herdier' 'stoutland' 'purrloin'
 'liepard' 'pansage' 'simisage' 'pansear' 'simisear' 'panpour' 'simipour'
 'munna' 'musharna' 'pidove' 'tranquill' 'unfezant' 'blitzle' 'zebstrika'
 'roggenrola' 'boldore' 'gigalith' 'woobat' 'swoobat' 'drilbur'
 'excadrill' 'audino' 'timburr' 'gurdurr' 'conkeldurr' 'tympole'
 'palpitoad' 'seismitoad' 'throh' 'sawk' 'sewaddle' 'swadloon' 'leavanny'
 'venipede' 'whirlipede' 'scolipede' 'cottonee' 'whimsicott' 'petilil'
 'lilligant' 'basculin-red-striped' 'sandile' 'krokorok' 'krookodile'
 'darumaka' 'darmanitan-standard' 'maractus' 'dwebble' 'crustle' 'scraggy'
 'scrafty' 'sigilyph' 'yamask' 'cofagrigus' 'tirtouga' 'carracosta'
 'archen' 'archeops' 'trubbish' 'garbodor' 'zorua' 'zoroark' 'minccino'
 'cinccino' 'gothita' 'gothorita' 'gothitelle' 'solosis' 'duosion'
 'reuniclus' 'ducklett' 'swanna' 'vanillite' 'vanillish' 'vanilluxe'
 'deerling' 'sawsbuck' 'emolga' 'karrablast' 'escavalier' 'foongus'
 'amoonguss' 'frillish' 'jellicent' 'alomomola' 'joltik' 'galvantula'
 'ferroseed' 'ferrothorn' 'klink' 'klang' 'klinklang' 'tynamo' 'eelektrik'
 'eelektross' 'elgyem' 'beheeyem' 'litwick' 'lampent' 'chandelure' 'axew'
 'fraxure' 'haxorus' 'cubchoo' 'beartic' 'cryogonal' 'shelmet' 'accelgor'
 'stunfisk' 'mienfoo' 'mienshao' 'druddigon' 'golett' 'golurk' 'pawniard'
 'bisharp' 'bouffalant' 'rufflet' 'braviary' 'vullaby' 'mandibuzz'
 'heatmor' 'durant' 'deino' 'zweilous' 'hydreigon' 'larvesta' 'volcarona'
 'cobalion' 'terrakion' 'virizion' 'tornadus-incarnate'
 'thundurus-incarnate' 'reshiram' 'zekrom' 'landorus-incarnate' 'kyurem'
 'keldeo-ordinary' 'meloetta-aria' 'genesect' 'chespin' 'quilladin'
 'chesnaught' 'fennekin' 'braixen' 'delphox' 'froakie' 'frogadier'
 'greninja' 'bunnelby' 'diggersby' 'fletchling' 'fletchinder' 'talonflame'
 'scatterbug' 'spewpa' 'vivillon' 'litleo' 'pyroar' 'flabebe' 'floette'
 'florges' 'skiddo' 'gogoat' 'pancham' 'pangoro' 'furfrou' 'espurr'
 'meowstic-male' 'honedge' 'doublade' 'aegislash-blade' 'spritzee'
 'aromatisse' 'swirlix' 'slurpuff' 'inkay' 'malamar' 'binacle'
 'barbaracle' 'skrelp' 'dragalge' 'clauncher' 'clawitzer' 'helioptile'
 'heliolisk' 'tyrunt' 'tyrantrum' 'amaura' 'aurorus' 'sylveon' 'hawlucha'
 'dedenne' 'carbink' 'goomy' 'sliggoo' 'goodra' 'klefki' 'phantump'
 'trevenant' 'pumpkaboo-average' 'gourgeist-average' 'bergmite' 'avalugg'
 'noibat' 'noivern' 'xerneas' 'yveltal' 'zygarde-50' 'diancie'
 'hoopa-confined' 'volcanion' 'rowlet' 'dartrix' 'decidueye' 'litten'
 'torracat' 'incineroar' 'popplio' 'brionne' 'primarina' 'pikipek'
 'trumbeak' 'toucannon' 'yungoos' 'gumshoos' 'grubbin' 'charjabug'
 'vikavolt' 'crabrawler' 'crabominable' 'oricorio-baile' 'cutiefly'
 'ribombee' 'rockruff' 'lycanroc-midday' 'wishiwashi-solo' 'mareanie'
 'toxapex' 'mudbray' 'mudsdale' 'dewpider' 'araquanid' 'fomantis'
 'lurantis' 'morelull' 'shiinotic' 'salandit' 'salazzle' 'stufful'
 'bewear' 'bounsweet' 'steenee' 'tsareena' 'comfey' 'oranguru' 'passimian'
 'wimpod' 'golisopod' 'sandygast' 'palossand' 'pyukumuku' 'type-null'
 'silvally' 'minior-meteor' 'komala' 'turtonator' 'togedemaru' 'mimikyu'
 'bruxish' 'drampa' 'dhelmise' 'jangmo-o' 'hakamo-o' 'kommo-o' 'tapu-koko'
 'tapu-lele' 'tapu-bulu' 'tapu-fini' 'cosmog' 'cosmoem' 'solgaleo'
 'lunala' 'nihilego' 'buzzwole' 'pheromosa' 'xurkitree' 'celesteela'
 'kartana' 'guzzlord' 'necrozma' 'magearna' 'marshadow' 'poipole'
 'naganadel' 'stakataka' 'blacephalon' 'zeraora' 'meltan' 'melmetal']
Type1 ['Grass' 'Fire' 'Water' 'Bug' 'Normal' 'Poison' 'Electric' 'Ground'
 'Fairy' 'Fighting' 'Psychic' 'Rock' 'Ghost' 'Ice' 'Dragon' 'Dark' 'Steel'
 'Flying']
Type2 ['Poison' None 'Flying' 'Ground' 'Fairy' 'Grass' 'Fighting' 'Psychic'
 'Steel' 'Ice' 'Rock' 'Water' 'Electric' 'Fire' 'Dragon' 'Dark' 'Ghost'
 'Bug' 'Normal']

## Обрабатываем пропущенные значения

Если данные содержат пропущенные значения, то имеется две простые альтернативы:
- удалить столбцы с такими значениями (`data = data.dropna(axis = 1)`),
- удалить строки с такими значениями (`data = data.dropna(axis = 0)`).

После этого данных может стать совсем мало.

Куда более эффективным (и в то же время по-прежнему простым) методом обычно является заполнение пропущенных значений для каждой количественной переменной их средним или медианным значением. 
Для категориальных признаков пропущенные значения можно заполнить самым популярным значением в столбце.

##### Пропуски в классах заполняем часто встречаемым значением:

In [46]:
data[categorical_columns].count(axis = 0)

Name     809
Type1    809
Type2    405
dtype: int64

In [47]:
data['Type2'].describe()

count        405
unique        18
top       Flying
freq          95
Name: Type2, dtype: object

In [48]:
type(data['Type2'].describe())

pandas.core.series.Series

In [116]:
freq=data['Type2'].describe().top
data['Type2'].describe().top

'Flying'

In [68]:
data['Type2'] = data['Type2'].fillna(freq)

In [70]:
data.describe(include = [object])

             Name  Type1   Type2
count         809    809     809
unique        809     18      18
top     pidgeotto  Water  Flying
freq            1    114     499

##### Метод заполнения пропусков во всех номинальных признаках наиболее часто встречаемыми значениями:

In [71]:
data_describe = data.describe(include = [object])
for c in categorical_columns:
    data[c] = data[c].fillna(data_describe[c]['top'])

In [72]:
data.describe(include = [object])

             Name  Type1   Type2
count         809    809     809
unique        809     18      18
top     pidgeotto  Water  Flying
freq            1    114     499

## Векторизация

Нужно что-то сделать с категориальными (номинальными) признаками

###### Выделение бинарных и небинарных признаков

In [73]:
binary_columns    = [c for c in categorical_columns if data_describe[c]['unique'] == 2]
nonbinary_columns = [c for c in categorical_columns if data_describe[c]['unique'] > 2]
print(binary_columns, nonbinary_columns)

[] ['Name', 'Type1', 'Type2']

##### В нашей задаче нет бинарных признаков

К небинарными признакам применим метод _векторизации_, 
который заключается в следующем.

Признак `j`, принимающий `s` значений, заменим на `s` признаков, принимащих значения `0` или `1`,
в зависимости от того, чему равно значение исходного признака `j`.

Например, в нашей задаче признак `class` принимает 6 различных значений:

Заменим признак `class` 6 признаками: `water`, `forest`, ..., `impervious`.

 - Если признак `class` принимает значение `water`, то признак `water` равен `1`, а все остальные равны `0`.
 - Если признак `class` принимает значение `forest`, то признак `forest` равен `1`, а все остальные равны `0`.
 - и т.д.

##### Такую векторизацию осуществляет в pandas метод `get_dummies`:

In [75]:
data_nonbinary = pd.get_dummies(data[nonbinary_columns])
print(data_nonbinary.columns)

Index(['Name_abomasnow', 'Name_abra', 'Name_absol', 'Name_accelgor',
       'Name_aegislash-blade', 'Name_aerodactyl', 'Name_aggron', 'Name_aipom',
       'Name_alakazam', 'Name_alomomola',
       ...
       'Type2_Ghost', 'Type2_Grass', 'Type2_Ground', 'Type2_Ice',
       'Type2_Normal', 'Type2_Poison', 'Type2_Psychic', 'Type2_Rock',
       'Type2_Steel', 'Type2_Water'],
      dtype='object', length=845)

In [76]:
data.describe()

             Name  Type1   Type2
count         809    809     809
unique        809     18      18
top     pidgeotto  Water  Flying
freq            1    114     499

# X и y

In [77]:
X = data.drop(('Name'), axis = 1) 
y = data['Name']
feature_names = X.columns

In [78]:
type(feature_names)

pandas.core.indexes.base.Index

##### Признаки без `Name`:

In [80]:
feature_names

Index(['Type1', 'Type2'], dtype='object')

In [81]:
print(X.shape)
print(y.shape)
N, d = X.shape

(809, 2)
(809,)

In [82]:
type(X)

pandas.core.frame.DataFrame

In [83]:
type(y)

pandas.core.series.Series

##### Разбиваем выборку на обучающую и тестовую. На тест даем 30% выборки:

In [84]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

N_train, _ = X_train.shape 
N_test,  _ = X_test.shape 

print(N_train, N_test)

566 243

In [85]:
566 + 243

809